[submodule "book-service"]
	path = book-service
	url = https://github.com/Artur-Neves/bookrate-book-service.git
[submodule "exchange-service"]
	path = exchange-service
	url = https://github.com/Artur-Neves/bookrate-exchange-service.git
